<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <main class="v-align max-600">

      <h1>Home 🏠</h1>
      
      <section>

        <nav>
          <a href="/">Home</a> | <a href="/about">About</a>
        </nav>

        <header>
          <h2>Welcome!</h2>
          This project is made with Express and EJS on the back-end. It is fully responsive and uses HTML, CSS and JavaScript on the front-end.
        </header>

        <img src="https://source.unsplash.com/random" class="featured" alt="Random image from Unsplash.com">

      </section>

      <footer>
        Made with <a href="https://expressjs.com">Express.js</a>, <a href="https://ejs.co/">EJS</a>, CSS &amp; JavaScript
      </footer>
    
    </main>
    
    <script src="script.js" defer></script>
    
  </body>
</html>